<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="utf-8" />
        <meta name="theme-color" content="#8cb369"/>
        <meta name="author" content="Jorghe Ayala" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta
        name="description"
        content="Zonas de escalada deportiva en Nuevo León, enfocado en tres
                de los sectores principales, El (1) Salto en La Ciénega de Gonzalez, Santiago NL,
                (2) El Potrero Chico ubicado en Hidalgo Nuevo León y (3) La Huasteca en el
                municipio de Santa Catarina." />
        <link href="{{ url_for('static', path='/style.css') }}" rel="stylesheet">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&family=Space+Grotesk&display=swap" rel="stylesheet">        <title>nl Climbing</title>
    </head>
    <body>
        <header><h1>Escalada en Nuevo León</h1></header>
        <main id="main-content">
        <h2>Explora las zonas de escalada</h2>
        <div class="card">
            <p>El cañón de <a href="/huaste">La Huasteca</a> ubicado en Santa Catarina</p>
            <div class="grid">
                <div>
                    <h4>Por zona</h4>
                    <ul>
                        <li><a href="/huaste/guitarritas">Guitarritas</a></li>
                        <li><a href="/huaste/extremas">Extremas</a></li>
                        <li><a href="/huaste/medicos">Médicos</a></li>

                    </ul>
                </div>

                <div>
                    <h4>Por Grado</h4>
                    <form id="huaste" action="/app">
                        <label>Busca una ruta</label>
                        <input type="submit"/>
                    </form>
                      
                </div>
            </div>
        </div>
        </main>
        
        <aside>            
        </aside>
        <footer>
            <article>
                <h2>Comentarios</h2>
                <form>
                    <span text-transform:none; >Nombre</span></span><input spellcheck="false"/>
                    <!-- <p contenteditable>Comentario</p> -->
                    <textarea>

                    </textarea>
                </form>
            </article>
            <address>
            <a href="mailto:nuevoleonescalada@gmail.com">nuevoleonescalada@gmail.com</a>
          </address></footer>
    </body>

</html>